---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION,SITE_TITLE } from '../config';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="bg-gray-900">
		<Header title={SITE_TITLE} />
		<main class="h-full min-h-full flex flex-col gap-4">
			<h1 class="text-gray-300 text-4xl">Olá!</h1>
			<p class="text-gray-200 text-justify">
				Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum blanditiis commodi dolorem in, dolor dicta magnam molestias animi nemo voluptatibus numquam asperiores explicabo repellat fugit, sint necessitatibus harum accusantium consequatur ullam? Nostrum amet quis suscipit. Error placeat ea minus, debitis optio dolore ratione velit, tempora maiores quidem, laudantium nesciunt? Velit asperiores animi sit est! Repudiandae deserunt incidunt recusandae atque exercitationem labore non, inventore voluptate neque nam sapiente fugit doloremque tempora officia ex quidem modi, maxime fuga amet, sed architecto illo. Aperiam, ducimus. Dignissimos ad itaque soluta officia molestias odio, sit laborum veniam totam, cumque mollitia, illo autem officiis vero dicta?
			</p>

		</main>
		<Footer />
	</body>
</html>
