---
import { SITE_TITLE } from '../config';
import HeaderLink from './HeaderLink.astro';
---

<header class="">
	<h2 class="my-4 mx-0 text-gray-50 text-2xl">
		{SITE_TITLE}
	</h2>
	<nav class="mb-4">
		<HeaderLink href="/">Home</HeaderLink>
		<!-- <HeaderLink href="/blog">Blog</HeaderLink> -->
		<!-- <HeaderLink href="/about">About</HeaderLink> -->
		<HeaderLink href="https://twitter.com/nyxawaits" target="_blank">Twitter</HeaderLink>
		<HeaderLink href="https://github.com/stneto1" target="_blank">GitHub</HeaderLink>
	</nav>
</header>
