---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, ...props } = Astro.props;
---

<a href={href} class="text-gray-300 text-sm hover:font-medium" {...props}>
	<slot />
</a>
